@font-face {
    font-family: myfont;
    src: url("/font/Poppins-Medium.ttf");
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar:horizontal {
    height: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-family: "myfont";
    background-color: #272934;

}

.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid white;
    z-index: 999;
}

.navbar .left {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 1rem 1rem;
}

.navbar .left img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    filter: drop-shadow(1px 1px 7px lightseagreen);
}

.navbar .left h1 {
    font-size: 20px;
    font-family: "myfont";
    color: white;

}

.navbar .right {
    display: flex;
    justify-content: right;
    width: 50%;
    list-style: none;
    align-items: center;
    padding: 1rem 1rem;

}

.navbar .right a {
    position: relative;
    text-decoration: none;
    color: white;
    transition: all 0.5s ease;
}

.navbar .right li {
    margin-left: 15px;
    font-size: 0.8rem;
    font-family: "myfont";
}

.navbar .arrow {
    display: none;
    font-size: 25px;
    font-weight: 900;
    color: white;

}

.navbar .right i {
    color: white;
    font-size: 17px;
    margin: 6px;
}

.navbar a:hover {
    color: rgb(4, 150, 89);
}

.navbar i:hover {
    color: rgb(4, 150, 89);
}

.option i {
    color: white;
    font-size: 150%;
    margin: 6px;
}

@media screen and (max-width: 992px) {
    .navbar .right a {
        display: none;
        text-decoration: none;
        color: white;
    }

    .navbar .arrow {
        display: block;
        font-size: 20px;
        font-weight: bolder;
        color: white;
        transition: all 0.35s;
    }
}

.option {
    position: absolute;
    display: none;
    width: 100%;
    padding: 60px 25px 20px 25px;
    list-style: none;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid white;
    transition: all 0.35s;
    z-index: 5;
}

.option a {
    text-decoration: none;
    color: white;
}

.option li {
    margin-top: 100px;
    font-family: sans-serif;

    font-size: 0.7rem;
    margin-top: 10px;
}

.option a:hover {
    color: rgb(4, 150, 89);
}

.option i:hover {
    color: rgb(4, 150, 89);
}

.main {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 55px);
    padding: 13vh 15px 20px 15px;
    background-image: url('/assest/background.jpg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cantactcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(0, 185, 129);
    transition: all 0.3s ease;
} 
.cantactcard .left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
}
.cantactcard .left img{
width: 150px;
height: 150px;
}
.cantactcard .right{
    width: 300px;
    text-align: center;
}
.cantactcard .right h1{
  color: white;
  font-size: 2rem;
}
.cantactcard .right p{
    font-size: 0.8rem;
    margin: 10px;
    color: rgba(255, 255, 255, 0.74);
}
.cantactcard .right a{
    text-decoration: none;
    font-size: 0.9rem;
    color: white;
    padding: 7px 15px;
    transition: all 0.5s ease;
}
.cantactcard .right a:hover{
    border: 1px solid rgb(0, 185, 129);
        border-radius: 5px;
    background-color: #1f2129;
    background-size: 100% 100%;
    color: rgb(0, 185, 129);
}

.footer {
    display: flex;
    width: 100%;
    border-top: 1px solid #ddd;
}

.footer .left {
    align-items: center;
    width: 50%;
    padding: 10px 20px;
}

.footer .left h2 {
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.footer .left p {
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer .left a {
    text-decoration: none;
    color: lightseagreen;
}

.footer .right {
    position: relative;
    display: flex;
    width: 50%;
    align-items: center;
}

.footer .right i {
    position: absolute;
    color: white;
    right: 0;
    padding-right: 20px;
    font-size: 20px;
}